extends layout 
include mixins/_recipeCard
include mixins/_pagination

block content
    .inner 
        h2 #{title}
        .recipes 
            each recipe in recipes 
                +recipeCard(recipe)

        if pagination.pages > 1
            +pagination(pagination.page, pagination.pages, pagination.count)