extends layout 

block content 
    .inner 
        form.form(method='POST')
            h2 #{title}

            //- password
            label(for='password') Passwort
            input(type='password' name='password' required)

            label(for='password-confirm') Passwort wiederholen
            input(type='password' name='password-confirm' required)

            //- submit
            input.button(type='submit' value!='Passwort setzen &rarr;')
