# env for express
NODE_ENV=development
MAIL_USER=123
MAIL_PASS=123
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
PORT=3000
SECRET=snickers
KEY=sweetsesh
# mongodb for express backend
DATABASE=mongodb://<user>:<password>@recipes-mongodb:27017/<database>?authSource=admin

ENTRYPOINT=/app/entrypoint.sh