# env for mongo-express

ME_CONFIG_MONGODB_ENABLE_ADMIN=true
ME_CONFIG_BASICAUTH_USERNAME=tree
ME_CONFIG_BASICAUTH_PASSWORD=root
# mongo-express webview will be served in sub-path at <host>/db/...
ME_CONFIG_SITE_BASEURL=/db/
# mongodb for mongo-express web dashboard
ME_CONFIG_MONGODB_URL=mongodb://<user>:<password>@recipes-mongodb:27017/?authSource=admin
