extends layout

block content
  .inner
    h2= title 
    .map 
      .autocomplete 
        input.autocomplete__input(placeholder="Search for Anything", name="geolocate")
      #map 
        p Loading Map ...