extends email-layout

block content
  h2 Password Reset
  p Hi! Du bist gerade dabei dein Passwort neu zu setzen. Klicke dazu einfach auf den Button. Bitte nehme zur Kenntnis, dass du dafür eine Stunde Zeit hast, bevor der Link verfällt.
  +button(resetURL, 'Passwort setzen →')
  p Falls du den Button nicht benutzen kannst geht auch dieser Link: #{resetURL}
  br
  p Falls du dein Passwort nicht zurücksetzten willst, ignoriere diese Email einfach.
