mixin forgotPasswordForm()
    form.form(action='/account/forgotPassword' method='POST')
        h2 Passwort vergessen?

        //- email
        label(for='email') Email
        input(type='email' name='email')

        //- submit
        input.button(type='submit' value!='Reset-Email senden &rarr;')
